<% include ./../partials/header %>

<h1>Open Tickets</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        <ul>
            <% for(var i = 0; i < mainValues.length; i++) { %>
                <li><%= mainValues[i] %></li>
                <li>
                    <a href="/admin/ticket/1">Reply</a>
                </li>
            <% } %>
        </ul>
    </tbody>
</table>
<% include ./../partials/footer %>