<% include ./../partials/header %>

<h1>Open Tickets</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= nameValue %></td>
            <td><%= emailValue %></td>
            <td><%= subjectValue %></td>
            <td>
                <a href="/admin/ticket/1">Reply</a>
            </td>
        </tr>
    </tbody>
</table>
<% include ./../partials/footer %>