<% include ./../partials/header %>

<h1>Open Tickets</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>David</td>
            <td>david@example.com</td>
            <td>Can someone help me please?</td>
            <td>
                <a href="/admin/ticket/1">Reply</a>
            </td>
        </tr>
    </tbody>
</table>
<% include ./../partials/footer %>