<% include ./../partials/header %>

<h1>Reply to Ticket</h1>

<form class="form-horizontal"  method="post" action="/opentickets">
    <div>
        <label><b>Name</b></label>
        <label name="name" required><%= ticket['name']%></label>
    </div>
    <div>
        <label><b>Email</b></label>
        <label name="email" required><%= ticket['email']%></label>
    </div>
    <div>
        <label><b>Subject</b></label>
        <label name="subject" required><%= ticket['subject']%></label>
    </div>
    <div>
    	<label><b>Message</b></label>
    	<label name="message" required><%= ticket['message']%></label>
    </div>
    <div>
        <label><b>Reply</b></label>
        <div class="col-sm-10">
            <textarea class="form-control" cols="50" rows="6" placeholder="Enter reply..." name="reply" required></textarea>
        </div>
    </div>
    <div>
        <div class="col-sm-offset-2 col-sm-10">
            <button>Send</button>
        </div>
    </div>
</form>

<% include ./../partials/footer %>